<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note List</title>
</head>
<body>
  {% for note in notes %}
    <h4>Title: {{ note.title }}</h4>
    <p> To: {{ note.to }} <p>
    <p> From: {{ note.fr }} </p>
    <p> Message: {{ note.message}} </p>
    <hr>
  {% endfor %}
</body>
</html>
